<nav class="navbar navbar-default" id="gig-nav">
    <div class="container">
        <div class="navbar-header">
            <a href="/">
                <h1> gigFinder </h1>
            </a>
        </div>
    </div>
</nav>